body {
    font-family: Arial, sans-serif;
    background-color: #b5671d;
    color: #333;
    height: 100vh;
}



/* Navigation */
.container{
    width: 70%;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 60px;
}

nav {
    display: flex;
    align-items: center;
    padding: 0 20px;
    float: right;
    margin-right:10px ;
    margin-top:5px;
    
}

nav ul li{
display: inline-block;
}
nav ul li a{
    font-size: 1rem;
    color: #000;
    text-decoration: none;
}

.navigation {
background:rgb(255, 253, 240);
padding:10px 10px;
}
.navigation:hover {
    background-color: rgba(80, 80, 80, 0.694);

}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;

}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
}

/* Main Content */

.main-content {
    padding: 10px 50px;
    background-color: rgb(255, 253, 240);
    margin: 0px 50px;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.description {
    max-width: 800px;
    margin: 0 auto 40px;
    text-align: justify;
}

/* Images */
.IMGS-container {
    display: grid flex;
    grid-template-rows:repeat(2,300px);
    grid-template-columns:repeat(2,300px) ;
    justify-items:center;
}
.IMGS{
    justify-content: space-evenly;
    margin-bottom: 20px; 
    height: 15rem; 
    width: 18rem;
    
}
#home-image {
height: 20rem;
width: 30rem;
margin-left: 20px;
}

/* Footer */

.logo{
    height:10rem;
}

.about{
margin-left: 50px;
display: flex;
align-items: center;
padding: 0 0;
float: right;
margin-top:80px;
color:#000;
font-weight: bold;
font-size: 1rem;
padding:10px 10px ;
text-decoration: none;
}

.about:hover{
    cursor: pointer;
    color:rgb(255, 253, 240);
}


