
body {
    font-family: Arial, sans-serif;
    background-color:  #f5e6ca;
    color: #333;
    min-height: 100vh;
}

.container {
    width: 70%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header and Navigation */
header {
    padding: 20px 0;
    position: relative;

}

.main-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    float:right;
    font-size: 0.7rem;
    top: 30px;
    margin-right:0 ;
}

.main-menu a {
    text-decoration: none;
    color:white;
    background: #2A6B74;
    font-weight: bold;
    font-size: 1.0rem;
    padding:10px 10px;
}
.main-menu a:hover {
background: #a1a1a1;
transform: translateY(-2px);
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


/* Blog List Styles */
h1{
    text-align: left;
    top:20px;
    color:#2A6B74;
    text-shadow: 1px 1px 3px rgba(100, 92, 92, 0.8);
    letter-spacing: 2px;

}
.blog-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px 10px;
    top:30px;
}

.blog-item {
    width: 100%;
}

.frame {
    border: 1px solid #666;
    padding: 10px;
    position: relative;
    margin-top: 30px;
}

.blog-content {
    display:relative ;
    background-color: #FFF9F0; 
    margin: 0 auto 50px;
    text-align: justify;
    padding: 10px 80px;
}

.condensed { 
    max-height: 250px;
    overflow: hidden;
    position: relative; 
}

.condensed::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(transparent, rgba(244, 211, 183, 0.9));
}

.see-more-btn {
    background-color: #2A6B74;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    transition: background-color 0.3s;
}

.see-more-btn:hover {
    background-color: #555;
}


.henrri_1{
    margin-top: 100px;
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-left: 20px;
}
.henrri_2,.font-image{
    margin-top: 100px;
    flex: 0 80% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-right: auto; 
}

.blog-text {
    flex: 0 0 40%;
    padding: 0 20px;
}

.headline {
    font-size: 28px;
    margin-bottom: 5px;
    color: #2A6B74;
}

.date {
    font-size: 14px;
    color: #C45C3C;
    margin-bottom: 10px;
}

.excerpt {
    font-size: 16px;
}

/* Footer Styles */
footer {
    padding: 20px 0;
    margin-top: 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 30px;
    width: 6rem;
    height:10rem;
}


#About {
    font-size: 1.0rem;
    font-weight: bold;
    text-decoration: none;
    color:white;
    padding:10px 10px;
    background: #2A6B74;
}

#About:hover {
    cursor: pointer;
    background:#a1a1a1;
}
   

/* Responsive Adjustments */
@media (max-width: 768px) {
    .blog-content {
        flex-direction: column;
    }
    
    .blog-text {
        padding: 20px 0 0 0;
    }
}