
body {
    font-family: Arial, sans-serif;
    background-color: #d4b63c; /* Gold/yellow background color */
    color: #333;
    min-height: 100vh;
}

.container {
    width: 70%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header and Navigation */
header {
    padding: 20px 0;
    position: relative;
}

.main-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    float:right;
    font-size: 0.7rem;
}

.main-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 0.8rem;
    padding:10px 10px;
}
.main-menu a:hover {
background: rgb(163, 184, 42);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.menu-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
}

@media (max-width: 768px){
    
    .menu-toggle {
        display: block;
    }
}

/* Blog List Styles */
.blog-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px 10px;
}

.blog-item {
    width: 100%;
}

.frame {
    border: 1px solid #666;
    padding: 10px;
    position: relative;
}

.blog-content {
    display:relative ;
    background-color: #d4b63c; /* Matches the body background */
    margin: 0 auto 40px;
    text-align: justify;
    padding: 10px 80px;
}


.henrri_1{
    margin-top: 100px;
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-left: 20px;
}
.henrri_2,.font-image{
    margin-top: 100px;
    flex: 0 80% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-right: auto; 
}

.blog-text {
    flex: 0 0 40%;
    padding: 0 20px;
}

.headline {
    font-size: 28px;
    margin-bottom: 5px;
}

.date {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.excerpt {
    font-size: 16px;
}

/* Footer Styles */
footer {
    padding: 20px 0;
    margin-top: 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 30px;
    width: 6rem;
    height:10rem;
}


#About {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#About:hover {
    cursor: pointer;
    padding:10px 10px;
    background:rgb(163, 184, 42) ;
}
   

/* Responsive Adjustments */
@media (max-width: 768px) {
    .blog-content {
        flex-direction: column;
    }
    
    .blog-text {
        padding: 20px 0 0 0;
    }
}