.container2{
    display: grid;
    border: 3px solid lightgrey;
    grid-template-rows:repeat(3,100px);
    grid-template-columns:repeat(2,100px) ;
    justify-items:center ;
    align-items:center;
    

}
.boxs{
    width: 5rem;
    height: 5rem;
    background: gold;
}
